---
title: ls -la servers
description: All our infrastructure is outlined here
---

<h1>Our Infrastructure</h1>

<div class="server-box green">
  <h1>Baxter</h1>
  <small>Groups: HTTP, Cache</small>
  <br />
  <p>Main web server, serves this website and important project notices, direct access at <a href="https://devme.io/">devme.io</a></p>
</div>

<div class="server-box green">
  <h1>Golem</h1>
  <small>Groups: HTTP, Cache, Statistics</small>
  <br />
  <p>Statistics will be hosted here for all our public projects. Updated every 7 days, direct access at <a href="https://stats.devme.io/">stats.devme.io</a></p>
</div>

<div class="server-box green">
  <h1>Norbit</h1>
  <small>Groups: HTTP, Cache</small>
  <br />
  <p>This hosts OSS project files for them, as a mirror with our CDN, direct access at <a href="https://norbit.devme.io/">norbit.devme.io</a></p>
</div>

<div class="server-box green">
  <h1>Inseico</h1>
  <small>Groups: HTTP, Static Assets, Cache</small>
  <br />
  <p>One of our wonderful caching servers, hosted at <a href="https://inseico.devme.io/">inseico.devme.io</a></p>
</div>

<div class="server-box green">
  <h1>Lacei</h1>
  <small>Groups: HTTP, Static Assets, Cache</small>
  <br />
  <p>One of our wonderful caching servers, hosted at <a href="https://lacei.devme.io/">lacei.devme.io</a>, serves as a backup for Inseico</p>
</div>
