---
title: ls -la servers
description: All our infrastructure is outlined here
---

<h1>Our Infrastructure</h1>

<div class="server-box green">
  <h1>Baxter</h1>
  <small>Groups: HTTP, Cache</small>
  <br />
  <p>Our main web server, serves static pages, and a backup node for our blog, direct access at <a href="https://baxter.devme.io/">baxter.devme.io</a></p>
</div>

<div class="server-box green">
  <h1>Inseico</h1>
  <small>Groups: HTTP, Static Assets, Cache</small>
  <br />
  <p>One of our wonderful caching servers, hosted at <a href="https://inseico.devme.io/">inseico.devme.io</a></p>
</div>

<div class="server-box green">
  <h1>Lacei</h1>
  <small>Groups: HTTP, Static Assets, Cache</small>
  <br />
  <p>One of our wonderful caching servers, hosted at <a href="https://lacei.devme.io/">lacei.devme.io</a>, serves as a backup for Inseico</p>
</div>

<div class="server-box green">
  <h1>Norbit</h1>
  <small>Groups: HTTP, Archive Servers, Backup Servers</small>
  <br />
  <p>One of our wonderful backup and archive servers, hosted at <a href="https://norbit.devme.io/">norbit.devme.io</a>,CA/US</p>
</div>
